@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.stagger-text-container {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5; /* Higher z-index to ensure it's above other elements */
  width: 100%;
  text-align: center;
  color: #ffffffc0; /* Adjust color as needed */
  pointer-events: none; /* So it doesn't block interaction with underlying elements */
  font-family: Cinzel; /* Adjust font as needed */
  font-size: xx-large;
}
.pie-chart {
  position: relative;
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1%;
}
#wheel-container {
  animation: fadeIn 3s;
}
.background-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slice {
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

}

.starsign {
  box-shadow: 0 0 10px 5px #433b47;
  padding: 5px 10px;
  border-radius: 5px;
  width: 30%;
  height: 5%;
  text-align: center;
  z-index: 3;
  pointer-events: auto;
  color: transparent;
}

.starsign:hover {
  box-shadow: 0 0 10px 5px rgb(158, 125, 177);
}

.slice-1 {
  transform: rotate(15deg);
}
.slice-2 {
  transform: rotate(45deg);
}
.slice-3 {
  transform: rotate(75deg);
}
.slice-4 {
  transform: rotate(105deg);
}
.slice-5 {
  transform: rotate(135deg);
}
.slice-6 {
  transform: rotate(165deg);
}
.slice-7 {
  transform: rotate(195deg);
}
.slice-8 {
  transform: rotate(225deg);
}
.slice-9 {
  transform: rotate(255deg);
}
.slice-10 {
  transform: rotate(285deg);
}
.slice-11 {
  transform: rotate(315deg);
}
.slice-12 {
  transform: rotate(345deg);
}

.slice-1 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-2 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-3 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-4 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-5 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-6 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-7 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-8 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-9 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-10 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-11 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}
.slice-12 .starsign {
  transform: rotate(-45deg) translate(3%, -150%);
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .pie-chart {
    width: 100%;
    height: auto;
  }

  .background-image {
    width: 100%;
    height: auto;
  }
}
